<ion-content>
  <ion-row>
    <ion-col>
      <ion-img src="assets/logo-png-tasky.png"></ion-img>
    </ion-col>
  </ion-row>
  <form>
    <ion-item lines="full" class="inputs">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email requerid></ion-input>
    </ion-item>
    <ion-row class="row-boton-login">
      <ion-col>
        <ion-button (click)="onResetPassword(email)" class="boton-login" expand="block">
          Cambiar Contraseña
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row class="or">
    <ion-col>
      <span class="divider line one-line"> or </span>
    </ion-col>
  </ion-row>
  <ion-row class="row-a-register">
    <ion-col>
      <a class="new-account" routerLink="/login">Iniciar Sesión</a>
    </ion-col>
  </ion-row>
</ion-content>