<ion-content>
  <ion-row>
    <ion-col>
      <ion-img src="assets/logo-png-tasky.png"></ion-img>
    </ion-col>
  </ion-row>
  <form>
    <ion-item class="inputs" lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email requerid></ion-input>
    </ion-item>
    <ion-item lines="full" class="inputs">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password requerid></ion-input>
    </ion-item>
    <ion-row class="row-boton-login">
      <ion-col>
        <ion-button (click)="onLogin(email, password)" class="boton-login" expand="block">
          Ingresar
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="forgot-password">
      <ion-col>
        <p>
          <a routerLink="/forgot-password">Olvidaste tu contraseña</a>
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="or">
      <ion-col>
        <span class="divider line one-line"> or </span>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="row-boton-google">
      <ion-col>
        <ion-button color="danger" (click)="onLoginGoogle()" expand="block">
          <ion-icon name="logo-google"></ion-icon> Ingresar con Google
        </ion-button>
      </ion-col>
    </ion-row> -->
  </form>
  <ion-row class="row-a-register">
    <ion-col>
      <a class="new-account" routerLink="/register">Crear cuenta nueva</a>
    </ion-col>
  </ion-row>

</ion-content>