<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="folder-outline"></ion-icon>
      <ion-label>Proyectos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Ruta Critica</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>