ion-tab-bar{
    --ion-tabbar-background-color: rgb(45,117,154);
    --ion-tabbar-background-color: linear-gradient(90deg, rgba(45,117,154,1) 41%, rgba(78,180,196,0.8995973389355743) 72%);
}

ion-icon{
    font-size: 30px;
}
ion-label{
    font-size: 18px;
}