<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-title class="titulo_letra">
      Proyectos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-list-projects></app-list-projects>
</ion-content>