<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-title class="titulo_letra">
      {{ task.description_task }}
      <ion-icon name="close-outline" (click)="close()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-list>
      <ion-list-header>
        Detalle
      </ion-list-header>
      <ion-item>
        <ion-label>Orden</ion-label>
        <ion-note slot="end" color="danger">{{ task.num_task }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Entrega Rapida</ion-label>
        <ion-note slot="end" color="secondary">{{ task.num_fast_delivery }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Entrega Tardía</ion-label>
        <ion-note slot="end" color="secondary">{{ task.num_late_delivery }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Entrega Optima</ion-label>
        <ion-note slot="end" color="secondary">{{ task.num_optimal_delivery }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Pert</ion-label>
        <ion-note slot="end" color="success">{{ task.sum_pert }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Predecesor</ion-label>
        <ion-note slot="end" color="secondary">{{ task.predecesor_task }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select value="{{task.status_task}}" okText="Okay" cancelText="Dismiss" [(ngModel)]="task.status_task"
          name="status" (ionChange)="updateEstado($event)" ngControl="status">
          <ion-select-option value="1"> Inicial </ion-select-option>
          <ion-select-option value="2"> En Proceso </ion-select-option>
          <ion-select-option value="3"> Finalizado </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>