.container {
    display: inline-flex;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
}


ion-icon{
    float: right !important;
}

ion-list{
    width: 75%;
    display: block;
    margin: 0 auto;
    font-family: "coolveticcarg";
}

ion-list-header{
    color: #338dc9;
    font-size: 24px;
    font-family: "coolveticcarg";
}

ion-item{
    font-size: 18px;
    font-family: "coolveticcarg";
}

ion-note{
    font-size: 20px;
    font-family: "coolveticcarg";
}