.container {
    display: inline-flex;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20%;
    transform: translateY(-50%);
}

.container_form{
    display: inline-flex;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

form{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.boton-add{
    --background: #338dc9;
    font-weight: bold;
    width: 60%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.label_form{
    top: -4px;
    font-size: 22px;
    font-family: "coolveticcarg";
    position: relative;
    top: -5px;

}

ion-input, ion-textarea{
    font-size: 22px;
    font-family: "coolveticcarg";
    border: 2px solid #0071bc;
    height: 50px;
}

ion-icon{
    float: right !important;
}