<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-title class="titulo_letra">
      Proyectos
      <ion-icon name="close-outline" (click)="close()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="titulo_container_project">
      <div class="img_project">
        <ion-img src="assets/profile.png"></ion-img>
      </div>
      <div class="titulo_project">
        <ion-label>Crear Proyecto</ion-label>
      </div>
    </div>
  </div>
  <div class="container_form">
    <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
      <ion-item>
        <ion-label position="stacked" class="label_form">Titulo</ion-label>
        <ion-input type="text" required [(ngModel)]="project.titulo_project" name="titulo" ngControl="titulo">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="label_form">Objetivos</ion-label>
        <ion-textarea [(ngModel)]="project.objectives_project" required name="objetives" ngControl="objetives">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="label_form">Descripción</ion-label>
        <ion-textarea [(ngModel)]="project.description_project" required name="description" ngControl="description">
        </ion-textarea>
      </ion-item>
      <ion-button type="submit" class="boton-add" expand="block">Crear Proyecto</ion-button>
    </form>
  </div>

</ion-content>