<div class="img-user">
  <ion-img src="assets/profile.png"> </ion-img>
</div>
<div class="label-user" *ngIf="user$ | async as user">
  <ion-label>{{ user.email }}</ion-label>
</div>
<div id="container">
  <ion-card class="proyectos">
    <ion-card-header>
      <ion-card-title>Proyectos</ion-card-title>
    </ion-card-header>

    <div class="animate__animated animate__wobble numeros">
      {{numProject}}
    </div>
  </ion-card>
  <ion-card class="actividades">
    <ion-card-header>
      <ion-card-title>Nivel Task</ion-card-title>
    </ion-card-header>

    <div class="animate__animated animate__wobble numeros">
      {{ nivelTask | number:'1.0-0' }}%
    </div>
  </ion-card>
</div>