#container {
  display: inline-flex;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 60%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.numeros{
  color: #fff;
  font-size: 80px;
  height: 15vh;
  text-align: center;
  width: 100%;
  font-family: "coolveticarg";
  margin-top: 20px;
}

ion-card{
  align-items: center;
  border-radius: 12px;
  border: 1px solid;
  vertical-align: top;
  width: 50%;
  font-family: "coolveticarg";
}
ion-card-title{
  color: #fff;
  font-size: 23px;
  font-weight: initial;
}

.proyectos{
  background-color: #2d759a;
}

.actividades{
  background-color: #4eb4c4;
}

.img-user{
  width: 40%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 15px;
}

.label-user{
  background: rgb(45,117,154);
  background: linear-gradient(90deg, rgba(45,117,154,1) 41%, rgba(78,180,196,0.8995973389355743) 72%);
  border-radius: 15px;
  height:9vh;
  color: #fff;
  display: block;
  font-size: 22px;
  text-align: center;
  width: 80%;
  font-family: "coolveticarg";
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.label-user > ion-label{
}