<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-title class="titulo_letra">
      Tareas
      <ion-icon name="close-outline" (click)="close()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="titulo_container_project">
      <div class="img_project">
        <ion-img src="assets/profile.png"></ion-img>
      </div>
      <div class="titulo_project">
        <ion-label>{{ project.titulo_project }}</ion-label>
      </div>
    </div>
  </div>
  <div class="container_form">
    <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
      <ion-item>
        <ion-label position="stacked" class="label_form">Descripción</ion-label>
        <ion-textarea [(ngModel)]="task.description_task" required name="description" ngControl="description">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="label_form">Predecesor</ion-label>
        <ion-select value="task.predecesor_task" okText="Okay" cancelText="Dismiss" [(ngModel)]="task.predecesor_task"
          name="predecesor" ngControl="predecesor">
          <ion-select-option *ngFor="let task of data" value="{{task.num_task}}">{{ task.description_task }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="label_form">Entrega Rapida</ion-label>
        <ion-input type="number" required [(ngModel)]="task.num_fast_delivery" name="num_fast_delivery"
          ngControl="num_fast_delivery">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="label_form">Entrega Optíma</ion-label>
        <ion-input type="number" required [(ngModel)]="task.num_optimal_delivery" name="num_optimal_delivery"
          ngControl="num_optimal_delivery">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="label_form">Entrega Tardía</ion-label>
        <ion-input type="number" required [(ngModel)]="task.num_late_delivery" name="num_late_delivery"
          ngControl="num_late_delivery">
        </ion-input>
      </ion-item>

      <ion-button type="submit" class="boton-add" expand="block">Crear Tarea</ion-button>
    </form>
  </div>

</ion-content>