.container {
    display: inline-flex;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20%;
    transform: translateY(-50%);
}


ion-icon{
    float: right !important;
}

.container_list{
    display: inline-flex;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.list{
    display: block;
    margin: 0 auto;
}

.icon-projects{
    padding-right: 5px;
    color: #2d759a;
}

ion-item{
    color: #313131;
    font-size: 20px;
    --background: #d4d4d4;
    padding: 8px;
    border-radius: 6px;
}
.estadoInicial{
    --background: #60bcca;
}

.estadoProgreso{
    --background: #f5a000;
}

.estadoFinalizado{
    --background: #77d25b;
}

.list{
    width: 85%;
    display: block;
    margin: 0 auto;
}