<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-title class="titulo_letra">
      Tareas
      <ion-icon name="close-outline" (click)="close()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="titulo_container_project">
      <div class="img_project">
        <ion-img src="assets/profile.png"></ion-img>
      </div>
      <div class="titulo_project">
        <ion-label>{{ project.titulo_project }}</ion-label>
      </div>
    </div>
  </div>
  <div class="container_list">
    <ion-list class="list">
      <ion-item *ngFor="let task of data" (click)="presentModalDetail(task)" [ngClass]="{
        'estadoInicial':task.status_task === 1,
        'estadoProgreso':task.status_task === 2,
        'estadoFinalizado':task.status_task === 3
      }">
        <ion-icon name="briefcase-outline" class="icon-projects"></ion-icon>
        <ion-label>{{ task.description_task }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModalAdd()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>