<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h1>Lista Proyectos</h1>
  <ion-list>
    <ion-item *ngFor="let project of data" (click)="presentModalListTask(project)">
      <ion-icon name="briefcase-outline" class="icon-projects"></ion-icon>
      <ion-label>{{ project.titulo_project }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>