h1{
    padding: 10px;
    font-family: "coolveticarg";
    color: #2d759a;
}

ion-label{
    font-family: "coolveticarg";
}

.icon-projects{
    padding-right: 5px;
    color: #2d759a;
}

ion-item{
    color: #313131;
    font-size: 20px;
    --background: #d4d4d4;
    padding: 8px;
    border-radius: 6px;
}

ion-list{
    width: 85%;
    display: block;
    margin: 0 auto;
}

ion-fab-button{
    --background:#2d759a;
}