#mynetwork {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
  }

  p {
    max-width: 600px;
  }
.container {
    display: inline-flex;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20%;
    transform: translateY(-50%);
}