<!-- <ion-button (click)="imprimirPdf()">Imprimir</ion-button> -->
<ion-item>
  <ion-label position="stacked" class="label_form">Proyecto</ion-label>
  <ion-select value="project.uid" okText="Okay" cancelText="Dismiss" [(ngModel)]="uidProyecto"
    name="predecesor"  (ionChange)="listTask($event)" ngControl="predecesor">
    <ion-select-option *ngFor="let project of data" value="{{project.uid}}">{{ project.titulo_project }}
    </ion-select-option>
  </ion-select>
</ion-item>
<div id="mynetwork"></div>
<!-- <div id="print-section">
  <img id="canvasImg" alt="Right click to save me!">
</div> -->
<!-- <button printSectionId="print-section" ngxPrint>print</button> -->