<ion-content>
  <ion-row>
    <ion-col>
      <ion-img src="assets/logo-png-tasky.png"></ion-img>
    </ion-col>
  </ion-row>
  <form>
    <ion-item lines="full" class="inputs">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" #nombre requerid></ion-input>
    </ion-item>
    <ion-item lines="full" class="inputs">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email requerid></ion-input>
    </ion-item>
    <ion-item lines="full" class="inputs">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password requerid></ion-input>
    </ion-item>
    <ion-item lines="full" class="inputs">
      <ion-label position="floating">Confirmar Password</ion-label>
      <ion-input type="password" #passwordconfirm requerid></ion-input>
    </ion-item>

    <ion-row class="row-boton-login">
      <ion-col>
        <ion-button (click)="onRegister(email, password,passwordconfirm,nombre)" class="boton-login" expand="block">
          registrar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row class="row-a-login">
    <ion-col>
      <a class="login-account" routerLink="/login">ya tienes una cuenta</a>
    </ion-col>
  </ion-row>
</ion-content>