ion-content{
    --background: rgb(45,115,153);
    --background: linear-gradient(180deg, rgba(45,115,153,1) 35%, rgba(66,157,181,1) 69%);
}

ion-img{
    height: 40vh !important;
    width: 50% !important;
    align-items: center;
    display: block;
    margin: auto;
}

#container{
    height: 100vh;
}

.boton-google{
    display: block;
    margin: auto;
}

ion-title{
    margin-top: -3px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.inputs{
    width: 90%;
    display: block;
    margin: 0 auto;
    --background: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.inputs:focus{
    color: #fff !important;
}

.ion-icon{
    width: 60px;
}

.row-boton-login{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.boton-login{
    --background: #8dc9d6a3;
    font-weight: bold;
}
:host {
    ion-label{
     --highlight-background: #fff !important;
     color: #fff !important;
   }
 }


 .forgot-password{
    width: 100%;    
 }

 a{
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
 }
.or{
    width: 100%;  
}
 .divider{
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #fff;
 }

 ion-icon {
     padding: 10px;
 }

 .row-boton-google{
    width: 70%;
    display: block;
    margin: 0 auto;
 }

 .row-a-login{
    border: 1px solid #fff;
    width: 50%;
    display: block;
    margin: 0 auto;
 }

 .login-account{

    text-decoration: none;
 }