/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: "Best in Class";
    src: url("assets/fonts/BEST_IN_CLASS.ttf");
}
@font-face {
    font-family: "coolveticcarg";
    src: url("assets/fonts/coolvetica_rg.ttf");
}

.titulo{
    --background: rgb(45,117,154);
    --background: linear-gradient(90deg, rgba(45,117,154,1) 41%, rgba(78,180,196,0.8995973389355743) 72%);
    height: 70px;
}

.titulo_letra{
    text-align: left;
    color: #fff;
    font-size: 40px;
    vertical-align: bottom;
    padding-top: 15px;
    font-family: "Best in Class";
}

.titulo_project{
    top: 15px;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: "coolveticcarg";
    color: #4999cf;
}
.img_project{
    width: 30%;
}

.titulo_container_project{
    display: inline-flex;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}